<nb-card>
	<nb-card-body>
		<div class = "row"
				*ngFor = "let i of [5,4,3,2,1]">
			<div class = "col-sm-5">
				<div class = "float-right"
						*ngIf = "i % 2 === 0">
          <p class="timeline-arrow right-arrow float-right">&#9656;</p>
          <ngx-solar></ngx-solar>
        </div>
			</div>
			<div class = "col-sm-2">
				<div class = "rod"></div>
				<div class = "parent-circle center-wrapper">
					<div class = "chaild-circle rounded-circle border border-info center center-wrapper">
						<span class = "center text-info text-center">0{{i}} Dec 2019</span>
					</div>
				</div>
			</div>
			<div class = "col-sm-5">
				<div class = "float-left"
						*ngIf = "i % 2 === 1">
          <div class="timeline-arrow left-arrow float-left border-bottom border-right"></div>
          <ngx-solar></ngx-solar>
        </div>
			</div>
		</div>
	</nb-card-body>
</nb-card>
