<nb-card>
  <nb-card-header>
    <h1>User Info</h1>
    <button type="button" class="btn btn-outline-primary float-right">
      <i class="far fa-edit"></i>Edit
    </button>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgxcDdDfSCHVe815qM8zPJac-J8vCR003TrmCNKzrv3yAizv87"
          alt="User photo" class="w-100 my-3 rounded-circle">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <div class="col-sm-12">
          <span class="text-secondary">USERNAME</span>
          <h1>username</h1>
        </div>
        <div class="col-sm-12">
          <span class="text-secondary">NAME</span>
          <h1>Ilyas</h1>
        </div>
        <div class="col-sm-12">
          <span class="text-secondary">SURNAME</span>
          <h1>Ziyaoglu</h1>
        </div>
        <div class="col-sm-12">
          <span class="text-secondary">E-MAIL</span>
          <h3 class="text-info">ilyasziyaoglu@gmail.com</h3>
        </div>
        <div class="col-sm-12">
          <span class="text-secondary">BIRTH DATE</span>
          <h1>07 Dec 1996</h1>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row w-75 mx-auto">
      <div class="col-sm-12 ">
        <h2>Lorem Ipsum Nedir?</h2>
        <br>
        <p class="text-justify">
          Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
          matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden
          beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle
          kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da
          içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri
          içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.</p>
      </div>
    </div>
    <br>
    <br>
  </nb-card-body>
</nb-card>
