<nb-card>
  <nb-card-header>
    <h4>General Exam Info</h4>
    <button type="button"
            *ngIf="!generalExamInfoEditMode"
            (click)="generalExamInfoEditMode = true"
            class="btn btn-outline-primary float-right">
      <i class="far fa-edit"></i> Edit
    </button>
    <button type="button"
            *ngIf="generalExamInfoEditMode"
            (click)="onSubmitExamGeneralInfo()"
            class="btn btn-outline-success float-right">
      <i class="far fa-save"></i> Save
    </button>
  </nb-card-header>

  <nb-card-body>

    <form [formGroup]="examGeneralInfoForm">
      <div class="row">

        <div class="col-sm-6 form-field"
             *ngFor="let property of examProperties; let i = index;">
          <div class="row">
            <div class="col-sm-3">
              <label>{{examProperties[i].toUpperCase()}}</label>
            </div>
            <div class="col-sm-6">
              <p *ngIf="!generalExamInfoEditMode">{{examGeneralInfoForm.get(property).value}}</p>
              <mat-form-field *ngIf="generalExamInfoEditMode && examPropertyTypes[i] !== 'date'">
                <input matInput
                       [placeholder]="property.toUpperCase()"
                       [formControl]="examGeneralInfoForm.get(property)"
                       type="{{examPropertyTypes[i]}}"
                >
                <mat-error *ngIf="!examGeneralInfoForm.get(property).valid">This field required</mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="examPropertyTypes[i] === 'date' && generalExamInfoEditMode">
                <input matInput
                       [placeholder]="property.toUpperCase()"
                       [matDatepicker]="picker"
                       [formControl]="examGeneralInfoForm.get(property)"
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="!examGeneralInfoForm.get(property).valid">This field required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </form>
  </nb-card-body>

</nb-card>


<nb-card>
  <nb-card-header>
    <h4>Subjects</h4>
    <button type="button"
            (click)="onSubmitSubjects()"
            class="btn btn-outline-success float-right">
      <i class="far fa-save"></i> Save
    </button>
  </nb-card-header>

  <nb-card-body>

    <div class="w-75 mx-auto">
      <div class="col-sm-12">
        <form [formGroup]="subjectsForm">
          <div class="row">
            <div class="col-sm-3" *ngFor="let property of subjectProperties; let i = index;">
              <mat-form-field>
                <input matInput
                       [placeholder]="property.toUpperCase().replace('_', ' ')"
                       [formControl]="subjectsForm.get(property)"
                       type="{{subjectPropertyTypes[i]}}"
                >
                <mat-error *ngIf="!subjectsForm.get(property).valid">This field required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <button type="button"
                      (click)="onSubmitNewSubject()"
                      class="btn btn-outline-primary add-subject">
                <i class="fas fa-plus"></i> Add
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-sm-12">
        <div class="table-responsive-sm mt-3">
          <table class="table table-hover table-borderless">
            <thead class="thead-light">
            <th scope="col" *ngFor="let property of subjectProperties">{{property.toUpperCase().replace('_', ' ')}}</th>
            <th scope="col">ACTION</th>
            </thead>
            <tbody>
            <tr *ngFor="let subject of subjects">
              <td *ngFor="let property of subjectProperties">
                {{subject[property]}}
              </td>
              <td>
                <button type="button"
                        (click)="removeSubject(subject)"
                        class="btn btn-outline-danger my-auto">
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </nb-card-body>

</nb-card>


<nb-card>
  <nb-card-header>
    <h4>Questions</h4>
    <button type="button"
            (click)="onAddNewQuestion()"
            class="btn btn-outline-primary add-subject float-right">
      <i class="fas fa-plus"></i> Add New
    </button>
  </nb-card-header>

  <nb-card-body>

    <mat-tab-group>
      <mat-tab *ngFor="let subject of subjects" label="{{subject.name.toUpperCase()}}">

        <div class="row">

          <div class="col-sm-4" *ngFor="let question of questions">
            <nb-card>
              <nb-card-header>
                <h4 class="p-2 question-order">{{question.order}}</h4>
                <button type="button"
                        (click)="onQuestionDelete(question)"
                        class="btn btn-outline-danger float-right">
                  <i class="far fa-trash-alt"></i> Delete
                </button>
                <button type="button"
                        class="btn btn-outline-primary float-right mr-2">
                  <i class="far fa-edit"></i> Edit
                </button>
              </nb-card-header>
              <nb-card-body>{{question.body}}</nb-card-body>
              <nb-card-footer>
                <div class="row">
                  <div class="col option m-2 p-2"
                       [ngClass]="{'': option.isTrue}"
                       *ngFor="let option of question.options; let i = index">
                    {{optionLabels[i] + option.body}}
                    <i *ngIf="option.isTrue" class="fas fa-check-circle btn-outline-success ml-3"></i>
                  </div>
                </div>
              </nb-card-footer>
            </nb-card>
          </div>

        </div>

      </mat-tab>
    </mat-tab-group>
  </nb-card-body>
</nb-card>
