<nb-card>
  <div class="row m-3">
    <div class="col-sm-9">

      <div class="row justify-content-end">
        <button type="button" class="btn btn-primary mt-3 mr-3">Yeni Sual</button>
      </div>


      <div class="row my-3">
        <div class="col-sm-8 p-0">
          <div class="md-form">
            <textarea type="text" class="md-textarea form-control" rows="8" cols="14"
              [(ngModel)]="question.body"></textarea>
          </div>
        </div>
        <div class="col-sm-4">
          <select class="custom-select" (change)="onChangeSubject()">
            <option selected disabled>Subjects</option>
            <option *ngFor="let subject of exam.subjects" [value]="subject">{{subject.name}}</option>
          </select>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          <div class="row mb-2" *ngFor="let option of question.options; let i=index">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-squared-default btn-success" (click)="correctOptionClick(i)">
                  <i class="fas fa-check"></i>
                </button>
              </div>
              <input type="text" class="form-control col-sm-10" placeholder="variant giriniz" [(ngModel)]="option.body">
              <div class="input-group-append">
                <button type="button" class="btn btn-squared-default btn-danger" (click)="deleteOption(i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-primary float-right" (click)="newOption()">Yeni Variant</button>
        </div>
      </div>

      <div class="row justify-content-end">
        <button type="button" class="btn btn-success mt-3 mr-3">Uygula</button>
      </div>

      <div class="row justify-content-center">
        <nav>
          <ul class="pagination pg-blue">
            <li class="page-item disabled">
              <a class="page-link"><i class="fas fa-arrow-circle-left"></i></a>
            </li>

            <li class="page-item" *ngIf="currentPage>1"><a class="page-link">{{currentPage-1}}</a></li>
            <li class="page-item active"><a class="page-link">{{currentPage}}</a></li>
            <li class="page-item" *ngIf="currentPage<pages.length"><a class="page-link">{{currentPage+1}}</a></li>

            <li class="page-item">
              <a class="page-link"><i class="fas fa-arrow-circle-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>


    </div>
    <div class="col-sm-3">
      <nb-accordion>
        <nb-accordion-item *ngFor="let subject of subjects">
          <nb-accordion-item-header>
            {{subject.name}}
          </nb-accordion-item-header>
          <nb-accordion-item-body class="d-flex flex-wrap">
            <button type="button" class="btn btn-primary rounded-button"
              *ngFor="let item of getArr(subject.question_Count); let i=index"
              (click)="goToQuestion(i+1)">{{i+1}}</button>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </div>
</nb-card>